@page "/PostDetails/{postId:int}"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using Domain.Models
@inject IPostService postService;
<h3>PostDetails</h3>

@if (post != null)
{
    <p><strong>Title:</strong>@post.Title</p>
}


@code {
    [Parameter]
    public int postId { get; set; }

    private Post post;

    protected override async Task OnInitializedAsync()
    {
        post = await postService.GetPostAsync(postId);
    }
}